

.header-container {
  display: flex;
  flex-direction: column;
  min-height: 85vh;

  .header-bg {
    display: flex;
    flex: 5;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    min-height: 85vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right top;
    min-width: 20rem;
    margin: 0;
    padding-left: 10vw;
    padding-right: 1rem;

    .header-title {
      padding-top: 2rem;
      font-size: 4.8rem;
      font-weight: 100;
      color: white;
    }
    .header-subtitle {
      margin-top: -2rem;
      text-transform: uppercase;
      font-size: 1.2rem;
      font-weight: 500;
      color: white;
    }
  }
  .header-ataglance {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex: 1;
    //background-color: #272020;
    background-color: #f5f5f7;
    color: #333;
    padding: 2rem;
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 2rem;

    div {
      text-transform: capitalize;
      margin: 1rem;
    }
  }
}