

.header-container {
  width: 100vw;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 82vh;
  margin-bottom: 2.5rem;

  .header-bg {
    display: flex;
    flex: 5;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    min-height: 82vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right top;
    min-width: 20rem;
    padding-left: 10vw;
    //padding-right: 1rem;

    .header-title {
      padding-top: 2rem;
      font-size: 4.8rem;
      font-weight: 100;
      color: white;
    }
    .header-subtitle {
      margin-top: -2rem;
      text-transform: uppercase;
      font-size: 1.2rem;
      font-weight: 500;
      color: white;
      letter-spacing: .1rem;
    }
    // .header-email-button {
    //   margin-top: 1.2rem;
    //   margin-left: .8rem;
    //   width: 8rem;
    //   height: 3.2rem;
    //   font-size: 1rem;
    //   line-height: 2;
    //   border: .1rem solid #E28647;
    //   border-radius: 1rem;
    //   background-color: rgba(226, 134, 71,.8);
    //   box-shadow: .1rem .1rem .4rem rgba(80, 80, 80, .24);

    //   :hover {
    //     background-color: rgba(255, 255, 255, .1);
    //     cursor: pointer;
    //   }
    //   a {
    //     color: white;
    //     text-decoration: none;
    //     font-weight: 600;
    //   }
    // }
  }
  .header-ataglance {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex: 1;
    max-width: 60rem;
    //background-color: #272020;
    border: .1rem solid white;
    border-radius: 1.4rem;
    background-color: rgba(255,255,255,1);
    box-shadow: .1rem .1rem .4rem rgba(80, 80, 80, .1);
    color: #333;
    margin: -3.2rem 2.4rem 0 2.4rem;
    padding: 2rem;
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 2rem;

    div {
      text-align: center;
      margin: 1rem 2rem;
      letter-spacing: .04rem;
    }
  }
}