

.navigation {
  z-index: 100;
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;

  .navigation-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: 17.5vh;
    margin-right: 3vw;
    border: .1rem solid white;
    border-radius: 1.4rem;
    background-color: rgba(255,255,255,.9);
    box-shadow: .1rem .1rem .4rem rgba(80, 80, 80, .24);

    .navigation-link {
      padding: 1rem 1.2rem;
      transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;

      :hover {
        cursor: pointer;
      }
    }
    div {
      background-color: white;
      border-radius: 1.4rem;
    }
  }
}