

.reel {
  min-width: 100vw;
  max-width: 100%;
  min-height: 82vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin-bottom: 3rem;
  background-color: black;

  .reel-container {
    flex: 1;
    margin: auto;
    padding: 2rem;
    max-width: 74rem;
    min-width: 20rem;
  }
}