


.textandlist-container {
  min-width: 100vw;
  min-height: 82vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin-bottom: 3rem;

  .textandlist-body {
    flex: 1;
    max-width: 52rem;
    min-width: 20rem;
    color: #8C493A;
    padding: 2rem;

    .textandlist-p {
      font-size: 2.4rem;
      line-height: 3.0rem;
      font-weight: 200;
    }
    .textandlist-links {
      margin-top: 1rem;
      
      a.textandlist-a {
        margin-right: 1rem;
        // padding: 1rem;
        font-size: 1.4rem;
        font-weight: 300;
        text-decoration: none;
        color: #D97D48;
        // background-color: white;
        // border-radius: 1.2rem;
        // border: .1rem solid #D97D48;
        cursor: pointer;
      }
    }
  }
}